body {
  background-color: bisque;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.row {
  display: flex;
  background-color: beige;
}

.cell {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #4f9572;
  font-size: 36px;
  cursor: pointer;
}

.txt {
  text-decoration: none;
  padding: 30px;
  margin: 10px;
  justify-content: center;
  font-size: medium;
  background-color: #348356;
  color: whitesmoke;
  text-decoration: none;
}

.boardSizeStyle {
  margin-top: 50px;
}

.buttonContainer {
  display: flexbox;

}

.button {
  padding: 20px;
  margin: 20px;
  justify-content: center;
  font-size: large;
  background-color: #348356;
  color: whitesmoke;
}

#message {
  margin-top: 40px;
  justify-content: center;
  font-size: x-large;
}
